#login-container {
	padding: 25vh 25vw;
	text-align: center;
}

#login-container form {
	padding: 1em;
	box-shadow: 0 0 1.7em gray;
}

table {
	border-collapse: collapse;
	border: 1px solid gray;
}

thead {
	background-color: #ffdddd;
}

td {
	border: 1px solid gray;
}

.error-block {
	background-color: #ff2323;
	color: #ffdcdc;
}

.warning-block {
	background-color: #ff8023;
	color: #ffffdc;
}

.success-block {
	background-color: #12bb12;
	color: #dcffdc;
}

.info-block {
	background-color: #6969ff;
	color: #dcdcff;
}

.status-msg {
	padding: 1em;
	text-shadow: 0 0 3pt black;
	box-shadow: inset 0 0 8pt white;
	border-radius: 0.3em;
}

.status-msg > * {
	margin: 1pt;
}
